{% extends "admin/base.html" %}


<!DOCTYPE html>
<html lang="en">
    <head>

    {% block extrahead %}
        {{ block.super }}
        {% load static %}
        <link rel="stylesheet" href="{% static 'estilos.css' %}">
    {% endblock %}
    </head>

    <body>
        {% block content_title %}{% endblock %}
        {% block breadcrumbs %} <a href="/accounts/login/?next=/principal/">Salir</a>{% endblock %}
        <div id="content-main">
            {% block content_below_title %}{% endblock %}
            {% block content_breadcrumb %}{% endblock %}
            {% block content_breadcrumb_trail %}{% endblock %}
            {% block content_main %}{% endblock %}
        </div>
        
        {% block content %}

        <form method="post">
            {% csrf_token %}
                <div class = "cuadroPrincipal">
                    <table>
                        <thead>
                            <tr>
                                <th> </th>
                                <th>codigo</th>
                                <th>nro de Factura</th>
                                <th>Proveedor</th>
                                <th>OC</th>
                                <th>ff</th>
                                <th>Unidad Ejecutora</th>
                                <th>Objeto</th>

                            </tr>
                        </thead>

                        <tbody>
                            {% for elemento in form.selccionar %}
                            <tr>
                                <td>{{ elemento }}</td>
                                <td>{{ elemento.cuadroPrincipal.emision }}</td>
                                <td>{{ elemento.cuadroPrincipal.selccionar }}</td>
                                <td>{{ elemento.cuadroPrincipal.proveedor }}</td>
                                <td>{{ elemento.oc }}</td>
                                <td>{{ elemento.ff }}</td>
                                <td>{{ elemento.unidadEjecutora }}</td>
                                <td>{{ elemento.objeto }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            
                <button type="btn btn-primary">Guardar Cambios</button>
            </form>
        {% endblock %}
    </body>
</html>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'estilos.css' %}">
