{% extends "admin/base.html" %}


<!DOCTYPE html>
<html lang="en">
    <head>

    {% block extrahead %}
        {{ block.super }}
        {% load static %}
        <link rel="stylesheet" href="{% static 'estilos.css' %}">
    {% endblock %}
    </head>

    <body>

        {% block content %}
            <div class="container">
                {% block content_title %}{% endblock %}
                {% block breadcrumbs %}{% endblock %}
                <div id="content-main">
                    {% block content_below_title %}{% endblock %}
                    {% block content_breadcrumb %}{% endblock %}
                    {% block content_breadcrumb_trail %}{% endblock %}
                    {% block content_main %}{% endblock %}
                </div>
            </div>


            <div class = "cuadroPrincipal">
                <table>
                    <thead>
                        <tr>
                            <th> </th>
                            <th>codigo</th>
                            <th>nro de Factura</th>
                            <th>Proveedor</th>
                            <th>OC</th>
                            <th>ff</th>
                            <th>Unidad Ejecutora</th>
                            <th>Objeto</th>

                        </tr>
                    </thead>

                    <tbody>
                        {% for elemento in datos %}
                        <tr>
                            <td><input type="checkbox" name="checkbox1"></td>
                            <td>{{ elemento.codigo }}</td>
                            <td>{{ elemento.nroFactura }}</td>
                            <td>{{ elemento.proveedor }}</td>
                            <td>{{ elemento.oc }}</td>
                            <td>{{ elemento.ff }}</td>
                            <td>{{ elemento.unidadEjecutora }}</td>
                            <td>{{ elemento.objeto }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endblock %}
    </body>
</html>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'estilos.css' %}">
