{% extends "admin/base.html" %}


<!DOCTYPE html>
<html lang="en">

<head>

    {% block extrahead %}
    {{ block.super }}
    {% load static %}
    <link rel="stylesheet" href="{% static 'estilos.css' %}">
    {% endblock %}
</head>

<body>
    {% block content_title %}{% endblock %}
    {% block breadcrumbs %} <a href="{% url 'login'%}">Salir</a>{% endblock %}
    <div id="content-main">
        {% block content_below_title %}{% endblock %}
        {% block content_breadcrumb %}{% endblock %}
        {% block content_breadcrumb_trail %}{% endblock %}
        {% block content_main %}{% endblock %}
    </div>

    {% block content %}

    <form method="post">
        {% csrf_token %}

        <div class="devengados">
            <table>
                <thead>
                    <tr>
                        <th>Nro Factura</th>
                        <th>Proveedor</th>
                        <th>Importe</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    {% for elemento in seleccionados %}
                    <tr>
                        <td>{{ elemento.nroFactura }}</td>
                        <td>{{ elemento.proveedor }}</td>
                        <td>${{ elemento.importe }}</td>
                        <td><a href="{% url 'masInfo' elemento.id %}">Detalles</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
        <input type="submit" name="volver" value="Descartar">
        <input type="submit" name="submit" value="Enviar">

    </form>
    {% endblock %}
</body>

</html>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'estilos.css' %}">