{% extends "admin/base.html" %}
{% load humanize %}

<!DOCTYPE html>
<html lang="en">

<head>

    {% block extrahead %}
    {{ block.super }}
    {% load static %}
    <link rel="stylesheet" href="{% static 'estilos.css' %}">
    {% endblock %}
</head>

<body>
    {% block content_title %}{% endblock %}
    {% block branding %}
    <p id="site-name"><a href="{% url 'login'%}">Salir</a></p>
    {% endblock %}
    {% block breadcrumbs %}{% endblock %}
    <div id="content-main">
        {% block content_below_title %}{% endblock %}
        {% block content_breadcrumb %}{% endblock %}
        {% block content_breadcrumb_trail %}{% endblock %}
        {% block content_main %}{% endblock %}
    </div>

    {% block content %}
    <form method="post">
        {% csrf_token %}
        

        <div class="botones">
            <div class="boton">
                <input type="text" name="codigo" placeholder="Codigo">

                <input type="text" name="factura" placeholder="Factura">

                <input type="text" name="proveedor" placeholder="Proveedor">

                <input type="submit" class="btn btn-primary" name="buscar_button" value="Buscar ">
            </div>
    
            <div class="boton">
                <input type="submit" class="btn btn-primary" name="eliminar_button" value="Eliminar filtros">
            </div>
    
        </div>
    </form>

    <div class="cuadro">
        <div class="devengados">

            <table>

                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Nro Factura</th>
                        <th>Proveedor</th>
                        <th>FF</th>
                        <th>Importe</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    {% for factura in facturas %}
                    <tr>
                        <td><a href="{% url 'masInfo' factura.id %}">{{ factura.codigo }}</a></td>
                        <td><a href="{% url 'masInfo' factura.id %}">{{ factura.nroFactura }}</a></td>
                        <td><a href="{% url 'masInfo' factura.id %}">{{ factura.proveedor }}</a></td>
                        <td><a href="{% url 'masInfo' factura.id %}">{{ factura.ff }}</a></td>
                        <td><a href="{% url 'masInfo' factura.id %}">${{ factura.importe|intcomma }}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
    </div>

    {% endblock %}
</body>

</html>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'estilos.css' %}">